<h4 mat-dialog-title>
  <mat-toolbar color="'#212121'">
    <span>Cadastrar Banco</span>
    <span class="spacer"></span>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
</h4>

<div mat-dialog-content class="m-2 text-start">

  <p><b>ISPB:</b> {{bank.ispb}}</p>
  <p><b>Nome:</b> {{bank.name}}</p>
  <p><b>Código:</b> {{bank.code}}</p>
  <p><b>Nome completo:</b> {{bank.fullName}}</p>

  <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
    <div class="d-flex align-items-center justify-content-center">
      <mat-form-field class="me-1" appearance="outline">
        <mat-label>Agência</mat-label>
        <input matInput type="text" formControlName="agency">
      </mat-form-field>

      <mat-form-field class="ms-1" appearance="outline">
        <mat-label>Conta</mat-label>
        <input matInput type="text" formControlName="accountCode">
      </mat-form-field>
    </div>
    <button mat-raised-button type="submit" class="w-100 my-2">Salvar</button>
  </form>

</div>
